<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EPOLARIS NETWORK</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="text-center my-24">
    <h1 class="text-3xl">BIENVENIDO <b>{{name}}</b></h1>
    <div class="buttons">
        <a href="/topologia" class="button-icon">
            <img src="/image/Topologia.png" alt="Imagen de Topología">
            <span>Topología</span>
        </a>
        <a href="javascript:void(0);" class="button-icon" id="estadisticas-link">
            <img src="/image/Estadisticas.png" alt="Imagen de Estadísticas">
            <span>Estadísticas</span>
        </a>
        <a href="/operaciones" class="button-icon">
            <img src="/image/Operacion.png" alt="Imagen de Administración">
            <span>Administración</span>
        </a>
        <a href="/configuracion-aplicacion" class="button-icon">
            <img src="/image/configuracion_aplicacion_epolaris.png" alt="Imagen de Configuración Aplicación">
            <span>Configuración</span>
        </a>
    </div>
</div>

<footer class="footer">
  <div class="company-info">
    <ul class="social-icons">
      <li><img src="/image/logo1.png" alt="Logo" class="logo-img"></li>
    </ul>
    <p>© 2024 EPOLARIS NETWORK C.A. Todos los derechos reservados.</p>
    <p>Universidad de Cuenca | Cuenca-Ecuador</p>
    <p>Edwin Anibal Lima Huayllas | Teléfono: 0963636085 | edwin.lima@ucuenca.edu.ec</p>
    <div class="social-links">
      <a href="https://wa.me/593963636085" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
      <a href="https://www.instagram.com/edwiin.jpg/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.linkedin.com/in/edwin-lima-7534b5199" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <p>Paola Alexandra Mora Pedroza | Teléfono: 0963636085 | alexandra.mora@ucuenca.edu.ec</p>
    <div class="social-links">
      <a href="https://wa.me/593963636085" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
      <a href="https://www.instagram.com/paomora0/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.linkedin.com/in/paola-mora-pedroza-b71b46231" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
  </div>
</footer>

<script>
document.getElementById('estadisticas-link').addEventListener('click', function() {
    window.location.href = "http://127.0.0.1:3000/d/Hh3FU0ESz/red-wan-region-3-centrosur?orgId=1&refresh=5s";
});
</script>

</body>
</html>
