<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EPOLARIS NETWORK </title>

<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="text-center my-24">
    <h1 class="text-3xl">BIENVENIDO A EPOLARIS NETWORK <b>{{name}}</b></h1>
    <div class="buttons">

        <a href="/topologia" class="button-icon">
            <img src="/image/topologia.jpeg" alt="Imagen de Topología">
            <span>TOPOLOGÍA</span>
        </a>
        <a href="javascript:void(0);" class="button-icon" id="estadisticas-link">
            <img src="/image/estadisticas.jpeg" alt="Imagen de Estadísticas">
            <span>ESTADÍSTICAS</span>
        </a>
    </div>
</div>

<footer class="footer">
  <div class="company-info">
    <ul class="social-icons">
      <li><img src="/image/logo1.png" alt="Logo" class="logo-img"></li>
    </ul>
    <p>© 2024 EPOLARIS NETWORK C.A. Todos los derechos reservados.</p>
    <p>Universidad de Cuenca | Cuenca-Ecuador</p>
    <p>Edwin Lima Huayllas | Teléfono: 0986134151 | edwin.lima@ucuenca.edu.ec</p>
    <p>Paola Mora Pedroza | Teléfono: 0963636085 | alexandra.mora@ucuenca.edu.ec</p>
  </div>
</footer>
</body>

<script>
document.getElementById('estadisticas-link').addEventListener('click', function() {
    window.location.href = "http://127.0.0.1:3000/d/Hh3FU0ESz/red-wan-region-3-centrosur?orgId=1&refresh=5s";
});
</script>

</html>
