body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 130vh;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 1), #84ACE3 100%, #84ACE3);
  font-family: Arial, sans-serif;
  color: #000;
}

.overlay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  padding: 40px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  color: #2A69AC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category img {
  width: 100px;
  height: auto;
  display: inline-block;
  margin: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category p {
  font-size: 1rem;
  color: #103863;
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
  overflow: hidden;
}

.footer {
  background: #4e81b8;
  color: #fff;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

.footer p {
  margin: 0.5rem 0;
}

.footer .company-info p,
.footer .social-links a {
  margin: 8px 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  padding: 2px;
  display: inline-block;
  font-size: 16px;
}

.footer a:hover,
.footer a:focus {
  color: #add8e6;
}

.footer .social-links {
  margin: 10px 0;
}

.footer .social-links a {
  margin: 0 10px;
}

.footer .company-info p {
  margin: 5px 0;
}

.dropbtn {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dropbtn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(146, 191, 221, 0.973);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.upload-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-btn:hover {
  background-color: #45a049;
}

input[type="file"] {
  display: none;
}

form {
  margin-top: 10px;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  height: 70vh;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}

.text-3xl {
  font-size: 2.25rem;
  color: #2A69AC;
  margin-bottom: rem;
}

.button-icon {
  display: inline-block;
  margin: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-icon:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-icon img {
  width: 100px;
  height: auto;
}

.button-icon span {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #103863;
}
