/* Bordes redondeados */
.rounded-lg {
    border-radius: 20px; /* Bordes más redondeados */
}

/* Sombra */
.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-md {
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Títulos */
.text-4xl {
    font-size: 2.25rem; /* Hacer el título más grande */
    line-height: 2.5rem;
    color: #84ACE3;
    margin-bottom: 1.5rem; /* Espaciado debajo del título para separarlo del formulario */
}

/* Inputs */
input[type=text], input[type=email], input[type=password] {
    border-radius: 10px; /* Bordes redondeados en los inputs */
    border: 2px solid #2A69AC; /* Borde azul */
    transition: border-color 0.2s, box-shadow 0.2s; /* Transición suave para interacciones */
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    outline: none;
    border-color: #2A69AC; /* Borde azul al enfocar */
    box-shadow: 0 0 0 3px rgba(42, 105, 172, 0.5); /* Sombra azul al enfocar */
}

/* Botón de envío */
.bg-blue-500 {
    background-image: linear-gradient(to right, #84ACE3, #84ACE3); /* Degradado de azul a turquesa */
    transition: transform 0.2s, box-shadow 0.2s; /* Transición suave para dinamismo */
}

.hover\:bg-blue-600:hover, .focus\:bg-blue-700:focus {
    background-image: linear-gradient(to right, #2A69AC, #2A69AC); /* Degradado ligeramente más oscuro al pasar el ratón y enfocar */
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
    transform: translateY(-2px); /* Movimiento ligero al pasar el ratón */
}

/* Mensaje de error */
.text-red-500 {
    color: #e3342f; /* Rojo para errores */
}

/* Navegación */
.nav-color {
    background-image: linear-gradient(to right, #84ACE3, #84ACE3); /* Degradado azul suave */
}

.nav-link, .logout-button {
    transition: background-color 0.2s, transform 0.2s;
}

.nav-link:hover, .logout-button:hover {
    background-color: #2A69AC; /* Azul marino más claro */
    transform: translateY(-5px); /* Eleva ligeramente el botón */
}

/* Estilo adicional para enlaces de redes sociales */
.social-link {
    color: white; /* Texto blanco */
    transition: color 0.2s, transform 0.2s; /* Transición suave para dinamismo */
}

.social-link:hover {
    color: #84ACE3; /* Color al pasar el ratón */
    transform: translateY(-2px); /* Eleva ligeramente el enlace */
}
