body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 1), #84ACE3 100%, #84ACE3); /* Fondo en degradado iniciando con blanco */
  font-family: 'Arial', sans-serif;
  color: #000; /* Texto en negro para contrastar con el fondo claro */
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambio para alinear contenido al inicio */
  padding-top: 7vh; /* Agrega un padding arriba para bajar un poco el contenido */
  min-height: 46vh; /* Altura mínima para mantener el contenido hacia arriba */
}

.buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  flex-wrap: wrap; /* Permite la envoltura de los elementos si hay varios */
  
}

.text-3xl {
  font-size: 2.25rem;
  color: #2A69AC; /* Color coherente con el degradado */
  margin-bottom: 2rem; /* Espacio debajo del título */
}

.button-icon {
  display: inline-block;
  margin: 1rem;
  background: white; /* Fondo blanco para los botones */
  padding: 1rem;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-icon:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el ratón */
}

.button-icon img {
  width: 100px; /* Tamaño fijo para las imágenes */
  height: auto;
}

.button-icon span {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

/* Agregar interactividad al pasar el mouse */
.button-icon:hover img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

.overlay {
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%); /* Transición suave de transparente a blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  background: #4e81b8;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0.5rem 0; /* Asegurar que el margen esté bien definido */
}

.footer .company-info p,
.footer .social-links a {
  margin: 10px 0; /* Espacio entre elementos */
}
.footer a {
  color: #ffffff; /* Color de los enlaces: blanco */
  text-decoration: none; /* Sin subrayado */
  padding: 2px; /* Espaciado interno para hacerlos más clickeables */
  display: inline-block;
  font-size: 16px; /* Tamaño de la fuente */
}

.footer a:hover,
.footer a:focus {
  color: #add8e6; /* Cambia el color al pasar el mouse: azul clarito */
}

.footer .social-links {
  margin: 10px 0; /* Espaciado entre las líneas */
}

.footer .social-links a {
  margin: 0 10px; /* Espaciado entre los enlaces */
}

.footer .company-info p {
  margin: 5px 0; /* Espaciado entre los párrafos */
}

.logo-img {
  width: 70px; /* Tamaño fijo del logo */
  height: 70px; /* Tamaño fijo del logo */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  object-fit: cover; /* Asegurar que la imagen cubra el espacio sin deformarse */
  overflow: hidden; /* Prevenir desbordamiento en caso de que la imagen no sea perfectamente cuadrada */
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0; /* Asegurarse de que no haya padding predeterminado */
}
