<!DOCTYPE html>
<html>
<head>
    <title>TOPOLOGIA CENTRO SUR</title>
    <link rel="icon" href="icon.ico" type="image/x-icon"> <!-- Agregar esta línea para el favicon -->
    <meta charset = "utf-8">
    <link rel="stylesheet" href="/bower_components/next-bower/css/next.css">
    <style>
        /* Estilos personalizados para los botones */
        button {
            background-color: #0081E5; /* Azul un poco más intenso */
            border: none; /* Sin borde */
            color: white; /* Color de texto */
            padding: 10px 20px; /* Espaciado interno */
            text-align: center; /* Alineación del texto */
            text-decoration: none; /* Sin subrayado */
            display: inline-block; /* Mostrar como bloque en línea */
            font-size: 15px; /* Tamaño de fuente */
            margin: 1px 1px; /* Margen exterior */
            cursor: pointer; /* Cursor al pasar sobre el botón */
            border-radius: 10px; /* Radio de borde */
        }
        /* Cambiar color de fondo al pasar el cursor sobre el botón */
        button:hover {
            background-color: #00469D; /* Un tono más oscuro para el hover */
            transform: scale(1.05);
        }
        button:active{
            transform: scale(0.9);
        }
    </style>
        <script type="text/javascript" src="/bower_components/next-bower/js/next.js"></script>
        <script type="text/javascript" src="/js/topology.js"></script>
        <script type="text/javascript" src="/js/topologia.js"></script>
        <script>
    document.addEventListener('DOMContentLoaded', function() {
        checkForChanges();

        document.getElementById('updateTopologyButton').addEventListener('click', function() {
            updateTopology();
        });
    });

    function checkForChanges() {
        fetch('/public/js/changes_flag.json')
            .then(response => response.json())
            .then(data => {
                if (data.changes) {
                    document.getElementById('updateTopologyButton').style.display = 'inline-block';
                } else {
                    document.getElementById('updateTopologyButton').style.display = 'none';
                }
            })
            .catch(error => console.error('Error loading change flag:', error));
    }

    function updateTopology() {
        fetch('/api/updateTopology') // Asume que tienes un endpoint que maneja esta actualización
            .then(() => {
                console.log('Topología actualizada');
                // Opcionalmente, recargar datos o algo similar
                document.getElementById('updateTopologyButton').style.display = 'none';
            })
            .catch(error => console.error('Error updating topology:', error));
    }
    </script>

</head>
<body>
    <button onclick="horizontal()">Horizontal layout</button>
    <button onclick="vertical()">Vertical layout</button>
    <button id="toggleLabelsButton">Interfaces</button>
    <button id="updateTopologyButton">Actualizar Topología</button>
</body>
</html>
