<!DOCTYPE html>
<html>
<head>
    <title>TOPOLOGIA CENTRO SUR</title>
    <link rel="icon" href="icon.ico" type="image/x-icon"> <!-- Agregar esta línea para el favicon -->
    <meta charset = "utf-8">
    <link rel="stylesheet" href="/bower_components/next-bower/css/next.css">
    <style>
        /* Estilos personalizados para los botones */
        button {
            background-color: #0081E5; /* Azul un poco más intenso */
            border: none; /* Sin borde */
            color: white; /* Color de texto */
            padding: 10px 20px; /* Espaciado interno */
            text-align: center; /* Alineación del texto */
            text-decoration: none; /* Sin subrayado */
            display: inline-block; /* Mostrar como bloque en línea */
            font-size: 15px; /* Tamaño de fuente */
            margin: 1px 1px; /* Margen exterior */
            cursor: pointer; /* Cursor al pasar sobre el botón */
            border-radius: 10px; /* Radio de borde */
        }
        /* Cambiar color de fondo al pasar el cursor sobre el botón */
        button:hover {
            background-color: #00469D; /* Un tono más oscuro para el hover */
            transform: scale(1.05);
        }
        button:active{
            transform: scale(0.9);
        }
    </style>
    <script type="text/javascript" src="/bower_components/next-bower/js/next.js"></script>
    <script type="text/javascript" src="/js/diff_topology.js"></script>
    <script type="text/javascript" src="/js/configuration_topology_diff.js"></script>

    
</head>
<body>
    <button onclick="horizontal()">Horizontal layout</button>
    <button onclick="vertical()">Vertical layout</button>
    <button id="toggleLabelsButton">Interfaces</button>
    <form action="/topologia" method="post">
        <button type="submit">Confirmar Cambios</button>
    </form>

</body>

</html>
